.hero
	background-color #4f6d53
	width 100%
	padding 40px

	> div
		display flex
		align-items center
		height 100%

		.logo
			width 100%

			h1
				font-size 0
				line-height 0
				visibility hidden

			img
				max-width 1000px
				width 100%
				height auto
				margin 0 auto

		.infos
			width 35%
			margin-left 100px
			font-size 36px
			line-height 46px